
/*body{
    background-color: #202020;
    /*This image obtained from the New York Public Library's digital collections, edited by yours truly 
    background-image: url("http://jameeters.com/images/MDmap.png");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    
    font-family: "Courier New", monospace;
    color: white
}*/

body{
    background-color: #660000;
    background-image: url("http://jameeters.com/images/test4.png");
    background-attachment:fixed;
    font-family: "Courier New", monospace;
    color: white
}

h1{
    text-align: justify;
    margin: 10px 25px;
    padding:12px 15px;
}
h2{
    font-family: "Helvetica", sans-serif;
}
div.header{
    margin:50px 100px 0px;
    background-color:  #303030;
    font-family: "Helvetica", sans-serif;
    padding: 5px;
    border-radius: 10px;
    display: flex;
}
div.main{
    background-color: #303030;
    margin-right:100px; 
    margin-left:100px;
    margin-bottom: 100px;
    margin-top: 100px;

    padding: 20px;

    border-radius: 10px;

}

p{
    font-family: "Courier New", monospace;
    text-align: left;
    color: white;

}


a:link{
    color: #006FFF;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: #a06FFF;
}
ul.navbar{
    display: flex;
    list-style-type: none;
    margin: 10px 0px 10px 75px;
    padding: 10px;
}
li.nav{
    padding:5px 30px;
    font-size: 15px;
}

li.navcurrent{
    padding:5px 30px;
    font-size: 15px;
    background-color: #404040;
}
li.navcurrent:hover{
    background-color: #505050;
}
li.nav:hover{
    background-color: #505050;
}
a.title{
    color:#ffffff;
    text-decoration: none;
}
td.rev{
    font-family: "Courier New", monospace;
    unicode-bidi: bidi-override;
    direction: rtl;
}
