body{
	background-color: #101010;
	background-image: url("http://jameeters.com/images/test4.png");
	background-attachment:fixed;
	font-family: "Courier New", monospace;
	color: white
}

h1{
	text-align: justify;
	margin: 10px 25px;
	padding:12px 15px;
}
div.header{
	margin:50px 100px 0px;
	background-color:  #303030;
	font-family: "Helvetica", sans-serif;
	padding: 5px;
	border-radius: 10px;
	display: flex;
}
div.main{
	background-color: #303030;
	margin-right:100px; 
	margin-left:100px;
	margin-bottom: 40px;
	margin-top: 40px;

	padding: 20px;

	border-radius: 10px;

}

span.clock{
	display:block;
	width:500px;
	height: 100%;
	margin: 0 auto;
}

p{
	font-family: "Courier New", monospace;
	text-align: left;
	color: white;
	text-indent: 20px;
}


a:link{
	color: #006FFF;
	text-decoration: none;

}
a:visited{
	color: #a06FFF;
}
a:hover{
	text-decoration: underline;
}
ul.navbar{
	display: flex;
	list-style-type: none;
	margin: 10px 0px 10px 75px;
	padding: 10px;
}

li.nav{
	padding:5px 30px;
	font-size: 15px;
}
li.navcurrent{
	padding:5px 30px;
	font-size: 15px;
	background-color: #404040;
}

li.nav:hover{
	background-color: #505050;
}
li.navcurrent:hover{
	background-color: #505050;
}
a.title{
	color:#ffffff;
	text-decoration: none;
}


hr{
	color: #454545;
	border-style: solid;
	border-width: 1px;
}

ul.general{
	display: inline;
	list-style: inside;
}

li.gen{
	padding: 10px;
}

span.image{
margin-left: 40%;
}
